<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  
  <%= fields_for (@assignment_user) do |temp_users| %>
    <% if controller.action_name=="new" %>
    
      <div class="field">
        <%= temp_users.label "Project Assignees" %>
        <%= collection_select(:users,:id, @all_users, :id, :name, {}, {:multiple => true}) %>
      </div>
      <% end %>
      <% if controller.action_name == "edit" %>
        <div class="field">
          <%= temp_users.check_box :is_compeleted %>
          <%= temp_users.label :is_compeleted, "Completed???" %>
        </div>
      
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
