<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.title %></td>
    <td><%= assignment.content %></td>

    <td><%= link_to 'Show', assignment %></td>
    
    <% if user_signed_in? && current_user==assignment.creator %>
      <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


