<%= form_tag assignments_path, role: "search", :method => "get" do |f| %>
  <%= text_field_tag :q, params[:q] %>

  <%= button_tag "Seach", :name => nil %>
<% end %>


<h1>Listing assignments</h1>

<table border=1>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.title %></td>
    <td><%= assignment.content %></td>
    <td><%= assignment.creator.name %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
    <!--
    <% if user_signed_in? && current_user==assignment.creator %>
      <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      
    <% end %> -->
    <td><%= link_to 'Assign to users',assignusers_path(assignment) %></td>
  </tr>
<% end %>
</table>

<br />


