<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>
<p>
 	<b>Created_by: </b>
 	<%= @assignment.creator.name %>
</p>
<p>
	<b>Start Date: </b>
	<% if @assignment.start_date.nil? %>
		<%= "Assignment Not Yet Started" %>
	<% else %>
		<%= @assignment.start_date.strftime("%d-%m-%Y") %>
	<% end %>
</p>

	<p>
 		<b>Project Status: </b>
 		<%= give_status(@assignment.current_status) %>
	</p>

<p>
 	<b>Assigned To: </b>
 	<ul>
 	<% @assignment.assigned_users.each do |user| %>
 		<li><%= user.name %></li>
 	<% end %>
 	</ul>
 </p>
<p>
  <b>Content:</b>
  <%= @assignment.content %>
</p>
 
 <%if user_signed_in? %>
	<%= link_to 'Assign to users',assignusers_path(@assignment) %> | 
	<%= link_to 'Edit', edit_assignment_path(@assignment) %> | 
<% end %> 
<%= link_to 'Back', assignments_path %>
 
 <p>
 <%= link_to "Comments" , "#", :id => "comments-link" %>
 </p>
 
 <section id="comments-section">
 	<ol id="comments">
 	<%= render @comments %>
 	</ol>
 	<% if @assignment.creator==current_user or @assignment.assigned_users.include? current_user %>
 	<%= render 'comments/form' %>
	<% end %>
</section>

 
<br><br>


