<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>
<p>
 	<b>Created_by: </b>
 	<%= @assignment.creator.name %>
</p>
<p>
	<b>Start Date: </b>
	<% if @assignment.start_date.nil? %>
		<%= "Assignment Not Yet Started" %>
	<% else %>
		<%= @assignment.start_date.strftime("%d-%m-%Y") %>
	<% end %>
</p>
	<% if @assignment.assignments_users.where(:user_id => current_user.id).exists? %>
	<p>
 		<b>Project Status: </b>
 		<%= give_status(@assignment.assignments_users.where(:user_id => current_user.id).first.current_status) %>
	</p>
	<p>
	<% unless @assignment.assignments_users.where(:user_id => current_user.id).first.current_status>=2  %>
 <b>Mark Assignment as: <%= link_to give_status(@assignment.assignments_users.where(:user_id => current_user.id).first.current_status+1), incstatus_path(@assignment) %></b>
 <% end %>
	</p>
	<% end %>
<p>
	<b><%= link_to "Create Subtasks", new_assignment_subtask_path(@assignment) %></b>
	<br>
	<b>Subtasks of this Assignment</b>
	<ol>
	<% @subtasks.each do |subtask| %>
		<li><%= subtask.subtask_content %>
		 
			<%= link_to "Delete the Subtaks", [@assignment, subtask],:method => :delete, :confirm => "Are you sure you want to delete the subtaks" %>
		</li>

	<% end %>
	</ol>
</p>
<p>
 	<b>Assigned To: </b>
 	<ul>
 	<% @assignment.assigned_users.each do |user| %>
 		<li><%= user.name %></li>
 	<% end %>
 	</ul>
 </p>
<p>
  <b>Content:</b>
  <%= @assignment.content %>
</p>
 
 <br>
 
 <br>

 <%if user_signed_in? %>
	<%= link_to 'Assign to users',assignusers_path(@assignment) %> | 
	<%= link_to 'Edit', edit_assignment_path(@assignment) %> | 
<% end %> 
<%= link_to 'Back', assignments_path %>
 
 <p>
 <%= link_to "Comments" , "#", :id => "comments-link" %>
 </p>
 
 <section id="comments-section">
 	<ol id="comments">
 		<%= render @comments %>
 	</ol>
 	<% if @assignment.creator==current_user or @assignment.assigned_users.include? current_user %>
 	<%= render 'comments/form' %>
	<% end %>
</section>

 
<br><br>


