<!Doctype html>
<html>
<body>
<h1> Hey <%= @user.name %></h1>
<p>
	<%= @assignment.creator.name %> has a commented on your assignment with id <%= @assignment.id %>
	<br> 
	<b> Comment </b>
	<p> <%= @comment.body %></p>
	<%= @url %>
</p>
<p>Have a great day!!!!.</p>
</body>
</html>