<!DOCTYPE html>
<html>
<head>
  <title>AssignTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
<% if user_signed_in? %>
	<%= current_user.name %><br>
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %><br>
	<%= link_to 'New Assignment', new_assignment_path %><br>
	<%= link_to "My Projects", current_user %>
	
<% else %>
	<%= link_to "Sign in", new_user_session_path %>
	<%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<hr>
<% flash.each do |name,msg| %>
	<div class="flash">
		<p><%= msg %></p>
	</div>
<% end %>
<hr>

<%= yield %><br><br><br><br>

</body>
</html>
